{% extends 'base.html' %}

{% block title %}
АВТОРИЗАЦИЯ
{% endblock title %}

{%block body%} 
<h1>АВТОРИЗАЦИЯ</h1>

<form action = "/login" method = "post" class = "form-contact">
    <p><label>Имя:</label> <input type = "text" name = "nickname" value = "" required />
    <p><label>Пароль:</label> <input type = "password" name = "psw" value = "" required />
    <p><input type = "checkbox" name = "remember" value = "" /> запомнить
    <p><input type = "submit" value = "ВОЙТИ" /> 
</form>

<p><a href="/">Назад</a></p>

{%endblock body%}